@font-face {
    font-family: "Circular Std";
    src: url('../fonts/CircularStd-Book.otf') format("opentype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Circular Std";
    src: url('../fonts/CircularStd-Medium.otf') format("opentype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Circular Std";
    src: url('../fonts/CircularStd-Bold.otf') format("opentype");
    font-style: normal;
    font-weight: bold;
}

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

body > section {
    width: 100%;
    height: 100vh;
}

body > section.hero {
    background: #172031;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#navbar {
    display: flex;
    align-items: center;
    height: 44px;
    padding-top: 36px;
    justify-content: center;
}

#navbar > .masthead {
    font-style: italic;
    font-size: 32px;
    font-family: Avenir Next;
}

#navbar > div > div:first-child {
    display: flex;
    align-items: center;
    font-family: Helvetica Neue;
    font-size: 18px;
}

.left-nav > div > div {
    margin-right: 85px;
}

.right-nav > div > div {
    margin-left: 85px;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#apply-btn {
	  background-color: rgba(255, 255, 255, 0.8);
    width: 90px;
	  height: 35px;
	  font-family: Circular Std;
	  font-size: 17px;
	  font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
	  color: #000;
    position: absolute;
    right: 90px;
}

@media (min-width: 1230px) and (max-width: 1300px) {
    #apply-btn {
        right: 6%
    }
}

@media (min-width: 992px) and (max-width: 1230px) {
    #apply-btn {
        right: 4%;
    }
}

@media (max-width: 991px) {
    #apply-btn {
        display: none;
    }
}

@media (max-width: 1099px) {
    .left-nav > div > div {
        margin-right: 65px;
    }
    .right-nav > div > div {
        margin-left: 65px;
    }
}

#branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#snake-logo > img {
    width: 178px;
	  height: 285px;
    padding-top: 34px;
}

.hero-head {
	  font-family: Helvetica Neue;
	  font-size: 120px;
    text-transform: uppercase;
	  font-weight: bold;
	  line-height: 1.19;
	  color: #fff;
	  -webkit-text-stroke: 4px #404da8;
}
