@font-face {
    font-family: "Circular Std";
    src: url('../fonts/CircularStd-Book.otf') format("opentype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Circular Std";
    src: url('../fonts/CircularStd-Medium.otf') format("opentype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Circular Std";
    src: url('../fonts/CircularStd-Bold.otf') format("opentype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url('../fonts/Helvetica Neu Bold.ttf') format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url('../fonts/HelveticaNeueLt.ttf') format("truetype");
}

@font-face {
    font-family: "AvenirNext";
    src: url('../fonts/AvenirNext-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "AvenirNext";
    src: url('../fonts/AvenirNext-Italic.ttf') format("truetype");
    font-style: italic;
}


* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    overflow-x: hidden;
}

.container-fluid {
    padding: 0 !important;
}

.row {
    margin: 0 !important;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

body > section {
    width: 100%;
    height: 100vh;
}

@media (max-width: 500px) {
    body > section {
        height: auto;
        padding-bottom: 5vh;
    }
}

body > section.hero {
    background: #172031;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#navbar {
    display: flex;
    align-items: center;
    padding-top: 36px;
    justify-content: center;
}

#navbar > .masthead {
    font-style: italic;
    font-size: 32px;
    font-family: Avenir Next;
}

#navbar > div > div:first-child {
    display: flex;
    align-items: center;
    font-family: Helvetica Neue, Helvetica;
    font-size: 18px;
}

.left-nav > div > div {
    margin-right: 85px;
}

.right-nav > div > div {
    margin-left: 85px;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#apply-btn {
	  background-color: rgba(255, 255, 255, 0.8);
    width: 90px;
	  height: 35px;
	  font-family: Circular Std;
	  font-size: 17px;
	  font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
	  color: #000;
    position: absolute;
    right: 90px;
}

@media (min-width: 1230px) and (max-width: 1300px) {
    #apply-btn {
        right: 6%
    }
}

@media (min-width: 992px) and (max-width: 1230px) {
    #apply-btn {
        right: 4%;
    }
}

@media (max-width: 991px) {
    #apply-btn {
        display: none;
    }
}

@media (max-width: 1099px) {
    .left-nav > div > div {
        margin-right: 65px;
    }
    .right-nav > div > div {
        margin-left: 65px;
    }
}

#branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#snake-logo {
    margin-bottom: 18px;
}

#snake-logo > img {
	  height: 510px;
    padding-top: 18px;
}

@media (max-width: 768px) {
    .hero-head {
        font-size: 15vw;
	      -webkit-text-stroke: 3px #404da8;
    }
    #navbar .left-nav, #navbar .right-nav {
        display: none;
    }
    #navbar .left-nav > div > .nav-item:last-child {
        margin-right: 32px;
    }
    #navbar .right-nav > div > .nav-item:first-child {
        margin-left: 32px;
    }
}

.bold {
    font-weight: bold;
    margin-bottom: 2px;
    display: block;
}

@media (max-width: 500px) {
    .small-split {
        display: block;
    }
    .hero-head {
        font-size: 90px;
        -webkit-text-stroke: 3.5px #404da8
    }
    #snake-logo > img {
        height: 71vh;
        padding-top: 5vh;
    }
}

.subtitle {
    font-family: Helvetica Neue, Helvetica;
	  font-size: 21px;
    margin-bottom: 20px;
}

#cta {
	  font-family: Helvetica Neue, Helvetica;
	  font-size: 18px;
    margin: 0 auto;
    border-bottom: 3px solid #fff;
    padding-bottom: 3px;
}

.row-halved {
    display: flex;
    justify-content: space-between;
    width: 87%;
    position: absolute;
    bottom: 30px;
}

@media (max-width: 500px) {
    .row-halved {
        display: none;
    }
}

#footnote {
    font-family: Helvetica Neue, Helvetica;
	  font-size: 14px;
	  font-weight: 500;
}

#footnote #externals > a {
    display: inline-block;
    margin-right: 20px;
}

#footnote #socials > a {
    display: inline-block;
    margin-left: 10px;
}

body > section.about {
    background-color: #f8f8fa;
	  color: #222244;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.split {
    display: flex;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 9%;
}

.split > .focus {
    flex-basis: 45%;
    font-family: Helvetica Neue, Helvetica;
	  font-size: 70px;
	  font-weight: bold;
}

.split > .description {
    font-family: Avenir;
	  font-size: 32px;
	  font-weight: 500;
	  line-height: 1.25;
    flex-basis: 48%;
}

.split > .description p:not(:first-child) {
    margin-top: 60px;
}

@media (max-width: 1120px) {
    .split > .focus {
        font-size: 5vw;
    }

    .split > .description {
        font-size: 2.5vw;
    }
}

@media (max-width: 900px) {
    .split {
        flex-direction: column;
    }

    .split > .focus {
        font-size: 50px;
    }

    .split > .description {
        font-size: 30px;
        margin-top: 60px;
    }
}

@media (max-width: 700px) {
    body > section.about {
        height: auto;
        padding: 8vh 0;
    }
}

body > section.join-us {
    color: #fff;
    background-color: #47a37d;
}

body > section  > h1 {
    text-align: center;
    font-family: Helvetica Neue, Helvetica;
    padding-top: 68px;
	  font-size: 70px;
	  font-weight: bold;
    margin-bottom: 30px;
}

.cta {
    font-family: Circular Std;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    padding: 11px 30px;
    border: 3px solid #ee6;
}

.cta:hover {
    cursor: pointer;
    background: #ee6;
}

.four-by-four {
    display: flex;
    margin: 0 auto;
    width: 800px;
    justify-content: space-between;
}

.four-by-four > div {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.four-by-four > div > div {
    margin-bottom: 2.5em;
}

.four-by-four .title {
    font-family: Circular Std;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1.7em;
}

@media (max-width: 868px) {
    .four-by-four {
        width: 90%;
    }
}

@media (max-width: 620px) {
    body > section.join-us {
        height: auto;
    }

    .four-by-four {
        flex-direction: column;
        width: 80%;
    }
}

.four-by-four .description {
    font-family: Circular Std;
    font-weight: 300;
    font-size: 1.15rem;
    line-height: 1.5;
    margin-bottom: 2em;
}

body > section.footer {
    color: #fff;
    font-family: Helvetica Neue, Helvetica;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.majority-split {
    padding-top: 20vh;
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.majority-split > div:first-child {
    flex-basis: 45%;
    font-size: 35px;
    font-weight: 500;
}

#footer-register-btn {
    margin-top: 40px;
    display: flex;
    text-align: center;
    display: block;
    height: 50px;
    padding: 0px 25px 2px;
    background-color: #fff;
    transition: opacity 200ms ease;
    font-size: 11px;
    line-height: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #000;
    width: 100px;
}

#footer-register-btn:hover {
    background-color: #38d996;
    cursor: pointer;
}

.majority-split > div:last-child {
    flex-basis: 10%;
    font-size: 18px;
    font-weight: 500;
}

.share-tools {
    display: flex;
}

.share-tools > * {
    margin-right: 20px;
}

.colorful-links {
    display: flex;
    height: 40vh;
    font-weight: 700;
}

.colorful-links > div {
    display: inline-flex;
    min-height: 250px;
    min-width: 0%;
    padding: 2vw;
    justify-content: space-between;
}

.colorful-links > div:hover {
    background-color: #000 !important;
    cursor: pointer;
}

#color-about {
    background-color: #ffab9d;
}

#color-learn {
    background-color: #ff6382;
}

#color-logistics {
    background-color: #d46bc8;
}

#color-faq {
    background-color: #9085da;
}

#color-sponsors {
    background-color: #4fadff;
}

#color-apply {
    background-color: #38d996;
}

#color-about:hover {
    color: #ffab9d;
}

#color-learn:hover {
    color: #ff6382;
}

#color-logistics:hover {
    color: #d46bc8;
}

#color-faq:hover {
    color: #9085da;
}

#color-sponsors:hover {
    color: #4fadff;
}

#color-apply:hover {
    color: #38d996;
}

@media (max-width: 900px) {
    body > section.footer {
        height: auto;
    }
    .majority-split {
        margin-bottom: 15vw;
    }
    .colorful-links > div {
        width: auto !important;
        min-height: 250px;
    }
}

body > section.faq {
    background: #172031;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    font-family: Circular Std;
    font-size: 1.15rem;
    line-height: 1.5;
    padding-bottom: 40px;
}

.question {
    font-weight: 700;
}

.answer {
    font-weight: 300;
}

@media (min-width: 768px) {
    .twin-towers {
        width: 760px !important;
        margin: 0 auto;
    }
}

.twin-towers > .row > div {
    margin-bottom: 30px;
    padding: 40px 30px;
    border-top: 1px solid #fff;
}

.footer {
    margin-top: 100px;
    color: #888;
    text-align: center;
    font-weight: 300;
}

.footer p {
    margin-bottom: 20px;
}

.footer .grey {
    color: #172031;
}

body > section.sponsors {
    background: rgb(226, 225, 235);
    color: #172031;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    font-family: Circular Std;
    font-size: 1.15rem;
    line-height: 1.5;
}

.sponsors > div {
    margin-bottom: 30px;
}

.sponsors h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Helvetica Neue, Helvetica;
}

.sponsors > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sponsors > div > div > a {
    display: block;
    margin: 10px 20px;
}

.sponsors > div#platinum > div > a > img {
    height: 150px;
}

.sponsors > div#bronze > div > a > img {
    max-height: 120px;
    max-width: 200px;
}

#platinum {
    color: #bbc;
}

#silver {
    color: #888;
}

#bronze {
    color: #da8;
}

@media (max-width: 680px) {
    .focus, .description {
        text-align: center;
    }
}
